body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke-width: 0.25pt;
  stroke: #555;
}

select {
	min-width: 100px;
	margin-left: 10px;
	margin-right: 25px;
}

#container {
  text-align: center;
}

#selectionUI {
  display: inline-block;
}

circle.hidden {
    fill: #ccc !important;
}

rect.frame {
    stroke: black;
    shape-rendering: crispEdges;
}

.cell text {
    text-transform: uppercase;
    font-weight: bold;
    fill: red;
}

.featureFont {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.unselectedFont {
    color: black;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}