body {
    font: 10px sans-serif;
    margin: auto;
    padding: 0px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke-width: 0.25pt;
  stroke: #555;
}

select {
	min-width: 100px;
	margin-left: 10px;
	margin-right: 25px;
}

#container {
  text-align: center;
}

#selectionUI {
  display: inline-block;
}

circle.hidden {
    fill: #ccc !important;
}

rect.frame {
    stroke: black;
    shape-rendering: crispEdges;
}

.cell text {
    text-transform: uppercase;
    font-weight: bold;
    fill: red;
}

.featureFont {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.unselectedFont {
    color: black;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 45px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tick > text {
    fill: gray;
    font-weight: 800;
}

.tick > line {
    stroke: #ddd;
    stroke-dasharray: 2,2;
}

.domain {
    stroke: transparent;
}

text.label {
    stroke: black;
    fill: black;
    font-family: sans-serif;
    font-size: 10px;
}

div#vis,
div#featuresDiv {
    text-align: center;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 20px;
}

.button {
    background-color: #007bff; /* Green */
    border: 2px solid white;
    opacity: 1;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007bff;
}

.selected {
    background-color: #007bff66;
}

#plotSVG {
    margin: auto;
    display: block;
}

svg#vis {
    display: block;
    margin: auto;
}